.idea
.DS_Store
pretrained_models/
dataset_prep/
shape_predictor_68_face_landmarks.dat
__pycache__
training-runs*
images
*.jpg
*.png
*.jpeg
*.mp4
*.pdf
result*
debug*
supplementary*
*.ipynb
weights
output_*
*.csv
age_dataset
README_*.md
!assets/
!assets/**
id_network_debug.py